# Serverless directories
.serverless

# golang output binary directory
bin

# golang vendor (dependencies) directory
vendor

# Intellij Garbage
.idea

#Serverless Stuff that tries to creep in
node_modules